@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&subset=latin,latin-ext);
ul#css3menu1,ul#css3menu1 ul{
  margin:0;list-style:none;padding:0;background-color:#34495E;border-width:0;border-style:solid;border-color:#1e2f40;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
ul#css3menu1 ul{
  visibility:hidden;position:absolute;left:0;top:100%;opacity:0;-moz-transition:all 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s,visibility 0.5s;transition:opacity 0.5s;background-color:#2a3c4f;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;padding:0 0 5px;}
ul#css3menu1 li:hover>ul{
  visibility:visible;opacity:1;}
ul#css3menu1 li{
  position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
  z-index:1;}
ul#css3menu1 ul ul{
  position:absolute;left:100%;top:0;-moz-box-shadow:0px 0px 1px #1e2f40;-webkit-box-shadow:0px 0px 1px #1e2f40;box-shadow:0px 0px 1px #1e2f40;}
ul#css3menu1{
  font-size:0;position:relative;display:inline-block;zoom:1;padding:0;
  *display:inline;}
* html ul#css3menu1 li a{
  display:inline-block;}
ul#css3menu1>li{
  margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
  outline-style:none;}
ul#css3menu1 a{
  display:block;vertical-align:middle;text-align:left;text-decoration:none;font:16px Alegreya Sans SC,Arial,Helvetica,sans-serif;color:#FFFFFF;cursor:pointer;padding:17px 20px;background-color:#34495E;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
  float:none;margin:0;}
ul#css3menu1 ul a{
  text-align:left;padding:10px;background-color:#34495E;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
  border-style:none;color:#7D91A4;text-decoration:none;}
ul#css3menu1 img{
  border:none;vertical-align:middle;margin-right:17px;}
ul#css3menu1 span{
  display:block;overflow:visible;background-image:url("arrowmain.png");background-position:right center;background-repeat:no-repeat;padding-right:21px;}
ul#css3menu1 ul span{
  background-image:none;padding-right:11px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
  background-color:#34495E;color:#7D91A4;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
  background-color:#34495E;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
  background-color:#34495E;}

/* Vertical menu */
.vertical-list {
  list-style: none;
  padding: 0px;
  width: 160px;
}

.vertical-list li { margin: 0 0 5px }

.vertical-list li:last-child { margin: 0 }

.vertical-list ul { 
  list-style:none;
  margin:5px 0 0;
  padding-left:15px;
  width:145px;
}

.vertical-list a {
  vertical-align:middle;
  text-align:left;
  text-decoration:none;
  font:16px Alegreya Sans SC,Arial,Helvetica,sans-serif;
  color:#FFFFFF;
  cursor:pointer;
  background-color:#34495E;
  border-width:0px;
  border-style:none;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
}

.vertical-list .button {
  outline: 0;
  padding: 5px 12px;
  display: block;
  color: #FFFFFF;  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.vertical-list .button:hover {
  color:#7D91A4;
  text-decoration:none;
}