@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);

nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 15%;
	height: 100%;
	background-color: #111;
}
main {
	position: fixed;
	right: 0;
	width: 85%;
	height: 100%;
	background-color: #fff;
	overflow: auto;
	padding: 40px;
}
main a {
	color: blue;
	text-decoration: none;
}
main ul {
	padding-left: 30px;
}
main li {
	color: #000000;
	font-weight: normal;
}
